@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }
body { @apply bg-white text-gray-800 antialiased; animation: fade-in 0.8s ease-in; }

@keyframes fade-in {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}

@keyframes move-bg {
  0% { background-position: 0 0; }
  100% { background-position: 1000px 0; }
}
.bg-animated { animation: move-bg 60s linear infinite; }

/*Ocultar flechas de los inputs number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield;      /* estándar */
}

/*Profundidad en el footer */
footer {
  background-image: radial-gradient(1200px 120px at 20% -20%, rgba(124,77,255,.15), transparent),
                    radial-gradient(1000px 100px at 80% -10%, rgba(102,240,209,.10), transparent);
}
